{% extends 'base.html' %}



{% block header %}

<div class="container text-center">
  <div class="row mt-4">
  	<div class="col-2"></div>
    <div class="col-1 my-auto text-muted">
    	<a href="{{ prior_date }}" class="caret"><i class="fa-solid fa-caret-left"></i></a>
    </div>
    <div class="col-6 my-auto">
    	<h1 class="mb-0">{{ date_text }}</h1>
    </div>
    <div class="col-1 caret my-auto text-muted">
    	<a href='{{ next_date }}' class="caret"><i class="fa-solid fa-caret-right"></i></a>
    </div>
    <div class="col-2"></div>
  </div>
  <hr class="hr" style="margin-bottom:0;"/>


</div>



{% endblock %}

{% block content %}
	





	<div class="container">
	<!-- Task Loop -->
		{%  if tasks == [] %}
			<div class="task-container">
				<div class="row my-auto text-center text-muted">
				<div class="col"></div>
					<div class="col-3 empty-border">
						<h5>Nothing here yet.</h5>
						<h6>Add something to do below!</h6>
					</div>
					<div class="col"></div>
				</div>
			</div>

			<hr style="margin-top:0;">
		{% endif %}

		{% for task in tasks %}

		<section class="task-container" >
			<div class="row mb-1 mt-1">
				<div class="col-2 my-auto text-center mb-0">
				
					<!-- If task is complete, the checkbox will be checked, clicking it will uncheck box -->
					{% if task['completed'] == True %}
						
						<form action="{{ url_for('task.undo', id=task['id']) }}" method='post'>
							<button type='submit' value='complete' class='btn btn-custom'>
								<span class="text-muted">
									<i class="fa-regular fa-square-check task_button_completed"></i>
								</span>
							</button>
						</form>
						<!-- If task is complete, the checkbox will be checked, clicking it will uncheck box -->

					{% else %}

						<!-- If task is incomplete, the checkbox will be unchecked, clicking it will check box -->
						<form action="{{ url_for('task.complete', id=task['id']) }}" method='post'>
							<button type='submit' value='incomplete' class='btn btn-custom'>
								<span class="task_button text-muted">
									<i class="fa-regular fa-square task_button"></i>
								</span>
							</button>
						</form>
						<!-- If task is incomplete, the checkbox will be unchecked, clicking it will check box -->
					{% endif %}

				</div>
				<div class="col-7 my-auto" id="toggle-subtask-{{ task['id'] }}" data-toggle="" data-target="">
					{% if task['completed'] == True %}
					<span style="text-decoration:line-through;opacity:0.5;">
						<p class="task_text {{ task['id'] }} mb-0">
						{{ task['task_text'] }}
						</p>
					</span>

					{%  else %}
						<p class="task_text {{ task['id'] }} mb-0">{{task['task_text'] }}</p>
					{%  endif %}


				</div>

				<div class="col-3 my-auto text-center text-muted">
				<div class="btn-group">

					{% if task['completed'] == False %}
						<button type="button" class="btn btn-custom" data-toggle="modal" data-target="#editmodal{{ task['id'] }}">
						<span class="task_button text-muted">
							<i class="fa-regular fa-pen-to-square task_button"></i>
						</span>
						</button>

						<!-- Modal -->
							<div class="modal fade" id="editmodal{{ task['id'] }}" tabindex="-1" role="dialog" aria-hidden="true">
							  <div class="modal-dialog modal-dialog-centered" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title">Edit Task</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							     
							     <form action="{{ url_for('task.update', id=task['id']) }}" method="post">
							      <div class="modal-body">

							          <div class="form-group">
							            <label class="sr-only" for="edit_task_{{ task['id'] }}">Edit Task</label>
							            <input type="search" name="edit_task_{{ task['id'] }}" id="edit_task_{{ task['id'] }}" class="form-control" value="{{ task['task_text'] }}" placeholder="{{ task['task_text'] }}" required>
							          </div>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							        <button type="submit" value="Save" class="btn btn-primary">Save changes</button>
							      </div>
										</form>
							    </div>
							  </div>
							</div>

						{% else %}
							<span class="btn task_button_disabled">
								<i class="fa-regular fa-pen-to-square"></i>
							</span>
						{% endif %}
						</form>

						<form action="{{ url_for('task.move_to_next_day', id=task['id'], date=date) }}" method="post">
							<button type="submit" value="Delete" class="btn btn-custom">
								<span class="task_button text-muted">
									<i class="fa-solid fa-right-to-bracket task_button"></i>
								</span>
							</button>
						</form>

						<form action="{{ url_for('task.delete', id=task['id']) }}" method="post">
							<button type="submit" value="Delete" class="btn btn-custom">
								<span class="task_button text-muted">
									<i class="fa-solid fa-xmark task_button task_button_danger"></i>
								</span>
							</button>
						</form>
				  </div>
			  </div>
			</div>



        <!-- Subtask loop here -->
      <div class="task-container">

        {% for subtask in subtasks %}
          {% if subtask['task_id'] == task['id'] %}

        <div class="row">
          <div class="col-2 my-auto text-right mb-0">
          
            <!-- If subtask is complete, the checkbox will be checked, clicking it will uncheck box -->
            {% if subtask['completed'] == True %}
              
              <form action="{{ url_for('subtask.undo', id=subtask['id']) }}" method='post'>
                <button type='submit' value='complete' class='btn btn-custom' style="">
                  <span class="text-muted">
                    <i class="fa-regular fa-square-check task_button_completed"></i>
                  </span>
                </button>
              </form>
              <!-- If subtask is complete, the checkbox will be checked, clicking it will uncheck box -->

            {% else %}

              <!-- If subtask is incomplete, the checkbox will be unchecked, clicking it will check box -->
              <form action="{{ url_for('subtask.complete', id=subtask['id']) }}" method='post'>
                <button type='submit' value='incomplete' class='btn btn-custom'>
                  <span class="text-muted">
                    <i class="fa-regular fa-square task_button"></i>
                  </span>
                </button>
              </form>
              <!-- If subtask is incomplete, the checkbox will be unchecked, clicking it will check box -->
            {% endif %}

          </div>
          <div class="col-8 my-auto">
            {% if subtask['completed'] == True %}
            <span style="text-decoration:line-through;opacity:0.5;">
              <p class="subtask {{ subtask['id'] }} mb-0">
              {{ subtask['subtask_text'] }}
              </p>
            </span>

            {%  else %}
              <p class="subtask_text {{ task['id'] }} mb-0">{{subtask['subtask_text'] }}</p>
            {%  endif %}


          </div>

          <div class="col-2 my-auto text-center text-muted">

              <form action="{{ url_for('subtask.delete', id=subtask['id']) }}" method="post">
                <button type="submit" value="Delete" class="btn btn-custom">
                  <span class="task_button text-muted">
                    <i class="fa-solid fa-xmark task_button task_button_danger"></i>
                  </span>
                </button>
              </form>
          </div>
        </div>
        {% endif %}
      {% endfor %}       
      
      </div>  


        <!-- End Subtask Loop -->

        <!-- New subtask form -->

        <script>
        $(document).ready(function(){
            $('#toggle-subtask-{{ task["id"] }}').dblclick(function() {
              $('#toggle-row-{{ task["id"] }}').toggle();
              $("#subtask_text_{{ task['id'] }}").focus();
            });
        });
        </script>

        <div class="container" id='toggle-row-{{ task["id"] }}' style="display:none;">
          <form action="{{ url_for('subtask.new', date=date, task_id=task['id']) }}" method="post">
            <div class="form-row">
              <div class="col-2"></div>
              <div class="col-8">
                <label class="sr-only" for="subtask_text_{{ task['id'] }}">Subtask Text</label>
                <input type="search" class="form-control" id="subtask_text_{{ task['id'] }}" name="subtask_text_{{ task['id'] }}" placeholder="Add subtask" value="{{ request.form['subtask_text_{{ task[\'id\'] }}'] }}" required>
              </div>
              <div class="col-1 text-center my-auto">
                <button type="submit" value="Submit" class="btn btn-custom">
                  <span class="task_button">
                    <i class="fa-solid fa-plus"></i>           
                  </span>
                </button>
              </div>
              <div class="col-1"></div>     
            </div>

          </form>
          </div>
        <!-- End new subtask form -->

      <hr/>
		</section>
		{% endfor %}		
<!-- End Task Loop -->

<!-- New task form -->
<div class="container">
	<form action="{{ url_for('task.new', date=date) }}" method="post">
		<div class="form-row">
			<div class="col-2"></div>
			<div class="col-8">
				<label class="sr-only" for="task_text">Task Text</label>
				<input type="search" class="form-control" id="task_text" name="task_text" placeholder="What's there to do?" value="{{ request.form['task_text'] }}" autofocus="autofocus" required>
			</div>
			<div class="col-1 text-center my-auto">
				<button type="submit" value="Submit" class="btn btn-custom">
					<span class="task_button">
						<i class="fa-solid fa-circle-plus"></i>						
					</span>
				</button>
			</div>
			<div class="col-1"></div>			
		</div>

	</form>
  </div>
<!-- New task form end -->

	</div>


{% endblock %}
