body {
  font-family: 'Raleway', sans-serif;
  color: #545454;
}
.container {
  max-width: 1000px;
}

.nav-container {
  max-width: 200%;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

nav {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

form {
  margin-bottom: 0;
}

.caret {
  color: #6c757d !important;
    font-size: 3rem !important;
}

.task-container {
  margin-top: 1rem;

}

.hr-pre-task {
  margin-bottom: 0;
}

.task_button {
  transition: color 0.25s ease-in-out;
}

.task_button:hover {
  color: #505050;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}

.task_button_danger:hover {
  color: #D10000;
  transition: color 0.25s ease-in-out;
}

.fa-brands {
  font-size: 1.5rem;
  transition: color 0.25s ease-in-out;
}
.fa-brands:hover {
  color: #505050;
  transition: color 0.25s ease-in-out;
}

.button-custom {
/*  background-color: transparent !important;*/
  border: none;
/*  color: white !important;*/
  padding: 0;
  margin: 0;
}

p input {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
}

input[type="text"][disabled] {
   background-color: transparent;
}

textarea {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  height: auto;
  width: 100%;
}